:root {
  --font-family: "Jost", sans-serif;
  --content-width: 1160px;
  --content-fluid-width: 1790px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --container-fluid-width: calc(var(--content-fluid-width) + (var(--container-offset) * 2));
  --light-color: #fff;
  --accent-color: #d52027;
  --dark-color: #141024;
  --text-color: rgb(20 16 36 / 70%);
}

/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */
/* stylelint-disable */
@font-face {
  font-family: "Jost";
  src: url("../fonts/../fonts/JostRegular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Jost";
  src: url("../fonts/../fonts/JostSemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Jost";
  src: url("../fonts/../fonts/JostBold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important;
  /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.container-fluid {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-fluid-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.section-offset {
  padding: 120px 0;
}
@media (max-width: 576px) {
  .section-offset {
    padding: 60px 0;
  }
}

@media (max-width: 576px) {
  .logo {
    width: 136px;
  }
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 5px;
  padding: 25px 30px;
  min-width: 260px;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  text-align: center;
  color: var(--light-color);
  background-color: var(--accent-color);
}
.btn--dark {
  background-color: var(--dark-color);
}
@media (max-width: 576px) {
  .btn {
    font-size: 16px;
  }
}

.section-title {
  margin: 0;
  margin-bottom: 60px;
  font-weight: 600;
  font-size: 50px;
  line-height: 160%;
  color: var(--dark-color);
}
@media (max-width: 768px) {
  .section-title {
    line-height: 60px;
  }
}
@media (max-width: 576px) {
  .section-title {
    margin-bottom: 40px;
    font-size: 30px;
    line-height: 140%;
    text-align: center;
  }
}

.tooltip {
  margin-left: 10px;
}
.tooltip__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 100%;
  width: 24px;
  height: 24px;
  background-color: rgba(20, 16, 36, 0.08);
}
.tooltip__btn svg {
  width: 4px;
  height: 14px;
}
.tooltip__btn:focus + .tooltip__txt {
  opacity: 1;
  visibility: visible;
}
@media (any-hover: hover) {
  .tooltip__btn:hover + .tooltip__txt {
    opacity: 1;
    visibility: visible;
  }
}
.tooltip__txt {
  border-radius: 5px;
  padding: 15px 20px;
  -webkit-box-shadow: 0 2px 8px rgba(20, 16, 36, 0.1);
  box-shadow: 0 2px 8px rgba(20, 16, 36, 0.1);
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: var(--dark-color);
  background: var(--light-color);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
@media (max-width: 576px) {
  .tooltip {
    margin-bottom: 8px;
    margin-left: 14px;
  }
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
}
.form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  margin-bottom: 10px;
  width: 100%;
}
.form .just-validate-error-label {
  margin-bottom: 3px;
  color: var(--light-color) !important;
}
.form__input {
  border-radius: 5px;
  padding: 0 20px;
  width: 100%;
  height: 64px;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: var(--darck-color);
}
.form__input::-webkit-input-placeholder {
  color: rgba(40, 41, 68, 0.7);
}
.form__input::-moz-placeholder {
  color: rgba(40, 41, 68, 0.7);
}
.form__input:-ms-input-placeholder {
  color: rgba(40, 41, 68, 0.7);
}
.form__input::-ms-input-placeholder {
  color: rgba(40, 41, 68, 0.7);
}
.form__input::placeholder {
  color: rgba(40, 41, 68, 0.7);
}
@media (max-width: 576px) {
  .form__input {
    height: 60px;
  }
}
.form__btn {
  padding: 18px 30px;
}

.phone {
  font-weight: 600;
  font-size: 30px;
  line-height: 160%;
  text-align: right;
  color: var(--light-color);
}

.burger {
  display: none;
}
@media (max-width: 992px) {
  .burger {
    position: relative;
    display: block;
    border: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 10px;
    width: 44px;
    height: 44px;
  }
  .burger__line {
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 100px;
    width: 26px;
    height: 2px;
    background-color: var(--light-color);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  .burger__line:first-child {
    margin-top: -7px;
  }
  .burger__line:last-child {
    left: 9px;
    margin-top: 7px;
    width: 13px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

@media (max-width: 992px) {
  .burger-close {
    position: absolute;
    right: var(--container-offset);
    top: 30px;
    border: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 10px;
    width: 44px;
    height: 44px;
    background-image: url("../img/close.svg");
    background-position: center;
    background-size: 14px 12px;
    background-repeat: no-repeat;
  }
}
@media (max-width: 992px) and (max-width: 576px) {
  .burger-close {
    top: 10px;
  }
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.social__item:not(:last-child) {
  margin-right: 10px;
}
.social__link {
  display: block;
  width: 30px;
  height: 30px;
}
.social__link svg {
  display: block;
  width: 100%;
  height: 100%;
  fill: var(--dark-color);
  -o-object-fit: cover;
  object-fit: cover;
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  padding: 30px 0;
  width: 100%;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .header__container {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: initial;
    -ms-flex-pack: initial;
    justify-content: initial;
  }
}
@media (max-width: 992px) {
  .header__phone {
    position: relative;
    margin-right: 10px;
    margin-left: auto;
    border: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 10px;
    width: 44px;
    height: 44px;
    font-size: 0;
    background-image: url("../img/phone.svg");
    background-position: center;
    background-size: 24px 24px;
    background-repeat: no-repeat;
  }
}
@media (max-width: 576px) {
  .header {
    padding: 10px 0;
  }
}

.hero {
  padding-top: 150px;
  min-height: 800px;
  background-color: var(--dark-color);
}
.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 576px) {
  .hero__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
  }
}
.hero__content {
  max-width: 516px;
}
@media (max-width: 992px) {
  .hero__content {
    max-width: none;
  }
}
.hero__image {
  -webkit-transform: translateX(28px);
  -ms-transform: translateX(28px);
  transform: translateX(28px);
}
@media (max-width: 992px) {
  .hero__image {
    display: none;
  }
}
.hero__image--mobile {
  display: none;
}
@media (max-width: 576px) {
  .hero__image--mobile {
    display: block;
    margin: 0 auto;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
.hero__title {
  margin: 0;
  margin-bottom: 50px;
  font-weight: 600;
  font-size: 70px;
  line-height: 160%;
  text-transform: uppercase;
  color: var(--light-color);
}
.hero__title-text {
  display: block;
  max-width: 90%;
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  text-transform: initial;
}
@media (max-width: 576px) {
  .hero__title-text {
    margin-top: 10px;
    max-width: none;
  }
}
@media (max-width: 576px) {
  .hero__title {
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 160%;
  }
}
@media (max-width: 576px) {
  .hero__link {
    height: 60px;
    min-width: 100%;
  }
}
@media (max-width: 992px) {
  .hero {
    padding-bottom: 100px;
    min-height: auto;
  }
}
@media (max-width: 576px) {
  .hero {
    padding-top: 91px;
    padding-bottom: 40px;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 992px) {
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
}
.nav__item:not(:last-child) {
  margin-right: 40px;
}
@media (max-width: 992px) {
  .nav__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
.nav__link {
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  color: var(--light-color);
}
@media (max-width: 992px) {
  .nav__link {
    font-weight: 600;
    font-size: 30px;
    line-height: 160%;
  }
}
@media (max-width: 992px) {
  .nav {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    overflow-y: auto;
    width: 100%;
    height: 100vh;
    background-color: var(--dark-color);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }
}

.menu--active {
  opacity: 1;
  visibility: visible;
}

.about {
  background-color: var(--light-color);
}
.about__descr {
  margin: 0;
  padding-bottom: 60px;
  max-width: 892px;
  font-weight: 400;
  font-size: 30px;
  line-height: 160%;
  color: var(--dark-color);
}
.about__descr-highlight {
  font-weight: 600;
}
@media (max-width: 576px) {
  .about__descr {
    padding-bottom: 40px;
    font-size: 20px;
  }
}
.about__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  gap: 40px;
}
@media (max-width: 576px) {
  .about__list {
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
  }
}
.about__item {
  -ms-grid-column-span: 3;
  grid-column: 3 span;
}
@media (max-width: 1200px) {
  .about__item {
    -ms-grid-column-span: 6;
    grid-column: 6 span;
  }
}
@media (max-width: 576px) {
  .about__item {
    -ms-grid-column-span: 4;
    grid-column: 4 span;
    text-align: center;
  }
}
.about__digit {
  font-weight: 600;
  font-size: 70px;
  line-height: 160%;
  color: var(--accent-color);
}
@media (max-width: 576px) {
  .about__digit {
    font-size: 60px;
    line-height: 87px;
  }
}
.about__text {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: var(--text-color);
}
@media (max-width: 576px) {
  .about__text {
    font-size: 16px;
  }
}

.benefits {
  background-color: #f9f9f9;
}
.benefits__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  gap: 40px;
}
@media (max-width: 576px) {
  .benefits__list {
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }
}
.benefits__item {
  -ms-grid-column-span: 4;
  grid-column: 4 span;
}
@media (max-width: 1200px) {
  .benefits__item {
    -ms-grid-column-span: 6;
    grid-column: 6 span;
  }
}
@media (max-width: 576px) {
  .benefits__item {
    -ms-grid-column-span: 4;
    grid-column: 4 span;
    text-align: center;
  }
}
.benefits__subtitle {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 24px;
  line-height: 160%;
  color: var(--dark-color);
}
@media (max-width: 576px) {
  .benefits__subtitle {
    margin-bottom: 10px;
    font-size: 20px;
  }
}
.benefits__descr {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: var(--text-color);
}
@media (max-width: 576px) {
  .benefits__descr {
    font-size: 16px;
  }
}

.trainers__wrapper {
  padding-left: max(15px, (100% - var(--content-width)) / 2);
}
.trainers__content {
  margin-bottom: 75px;
}
@media (max-width: 576px) {
  .trainers__content {
    margin-bottom: 40px;
  }
}
.trainers .swiper-slide {
  width: 360px;
}
@media (max-width: 768px) {
  .trainers .swiper-slide {
    width: 220px;
  }
}
.trainers .swiper-scrollbar-drag {
  background-color: var(--dark-color);
}
.trainers__image {
  margin-bottom: 20px;
  border-radius: 20px;
  max-height: 500px;
}
@media (max-width: 576px) {
  .trainers__image {
    max-height: 306px;
  }
}
.trainers__name {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 24px;
  line-height: 160%;
  color: var(--dark-color);
}
@media (max-width: 576px) {
  .trainers__name {
    font-size: 20px;
  }
}
.trainers__post {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: var(--text-color);
}
@media (max-width: 576px) {
  .trainers__post {
    font-size: 16px;
  }
}
.trainers__btn {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: var(--accent-color);
}
@media (max-width: 576px) {
  .trainers__btn {
    font-size: 16px;
  }
}
.trainers__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.trainers__scroll {
  border-radius: 40px;
  width: 360px;
  height: 5px;
  background-color: rgba(20, 16, 36, 0.08);
}
.trainers__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 576px) {
  .trainers__btns {
    display: none;
  }
}
.trainers__slider-btn {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}
.trainers__slider-btn:not(:last-child) {
  margin-right: 10px;
}
.trainers__slider-btn--prev {
  background-image: url("../img/prev.svg");
}
.trainers__slider-btn--next {
  background-image: url("../img/next.svg");
}

.tariffs {
  padding-top: 0;
}
.tariffs__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  gap: 40px;
}
@media (max-width: 992px) {
  .tariffs__list {
    gap: 20px;
  }
}
@media (max-width: 768px) {
  .tariffs__list {
    -ms-grid-columns: (1fr)[8];
    grid-template-columns: repeat(8, 1fr);
  }
}
.tariffs__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-grid-column-span: 4;
  grid-column: 4 span;
  border: 1px solid rgba(20, 16, 36, 0.2);
  border-radius: 20px;
  padding: 40px;
}
.tariffs__item--current {
  border: 1px solid var(--dark-color);
  background-color: var(--dark-color);
  -webkit-transform: scale(1.07);
  -ms-transform: scale(1.07);
  transform: scale(1.07);
}
.tariffs__item--current .tariffs__subtitle {
  color: var(--light-color);
}
.tariffs__item--current .tariffs__price {
  color: var(--light-color);
}
.tariffs__item--current .tariffs__descr {
  color: var(--light-color);
}
@media (max-width: 1200px) {
  .tariffs__item--current {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@media (max-width: 768px) {
  .tariffs__item {
    -ms-grid-column-span: 8;
    grid-column: 8 span;
  }
}
@media (max-width: 576px) {
  .tariffs__item {
    padding: 40px 20px;
  }
}
.tariffs__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  margin-bottom: 60px;
  font-weight: 600;
  font-size: 30px;
  line-height: 160%;
  color: var(--dark-color);
}
.tariffs__subtitle::before {
  content: "";
  display: block;
  margin-right: 10px;
  width: 20px;
  height: 3px;
  background-color: currentcolor;
}
.tariffs__subtitle::after {
  content: "";
  display: block;
  margin-left: 10px;
  width: 20px;
  height: 3px;
  background-color: currentcolor;
}
@media (max-width: 576px) {
  .tariffs__subtitle {
    margin-bottom: 40px;
  }
}
.tariffs__price {
  font-weight: 600;
  font-size: 50px;
  line-height: 160%;
  text-align: center;
  color: var(--dark-color);
}
@media (max-width: 1200px) {
  .tariffs__price {
    font-size: 45px;
  }
}
@media (max-width: 992px) {
  .tariffs__price {
    font-size: 32px;
  }
}
@media (max-width: 576px) {
  .tariffs__price {
    margin-bottom: 20px;
    font-size: 50px;
  }
}
.tariffs__descr {
  margin: 0;
  margin-bottom: auto;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  text-align: center;
  color: var(--dark-color);
}
@media (max-width: 576px) {
  .tariffs__descr {
    font-size: 16px;
  }
}
.tariffs__btn {
  margin-top: 60px;
  min-width: 100%;
}
@media (max-width: 992px) {
  .tariffs__btn {
    padding: 10px 20px;
    font-size: 16px;
  }
}
@media (max-width: 576px) {
  .tariffs__btn {
    margin-top: 40px;
    padding: 17px 54px;
    min-width: 260px;
  }
}

.order {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 87px 0;
  background-image: url("../img/percents.svg");
  background-position: bottom center;
  background-color: var(--accent-color);
}
.order__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
}
@media (max-width: 576px) {
  .order__container {
    padding: 0 10px;
  }
}
.order__left {
  -ms-grid-column-span: 5;
  grid-column: 5 span;
  padding-left: 60px;
}
@media (max-width: 992px) {
  .order__left {
    -ms-grid-column-span: 12;
    grid-column: 12 span;
    margin-bottom: 30px;
    padding-left: 0;
  }
}
@media (max-width: 576px) {
  .order__left {
    margin-bottom: 40px;
  }
}
.order__title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 36px;
  line-height: 130%;
  color: var(--light-color);
}
@media (max-width: 576px) {
  .order__title {
    margin-bottom: 10px;
    font-size: 30px;
    line-height: 140%;
  }
}
.order__descr {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  color: var(--light-color);
}
@media (max-width: 576px) {
  .order__descr {
    margin: 0 auto;
    max-width: 250px;
    font-size: 16px;
    line-height: 160%;
  }
}
.order__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  -ms-grid-column-span: 7;
  grid-column: 7 span;
  padding-right: 60px;
}
@media (max-width: 992px) {
  .order__right {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-grid-column-span: 12;
    grid-column: 12 span;
    padding-right: 0;
  }
}
.order__form {
  max-width: 500px;
}
@media (max-width: 576px) {
  .order {
    padding: 40px 0;
    text-align: center;
  }
}

.footer {
  padding: 40px 0;
  background-color: var(--dark-color);
}
.footer__logo {
  display: inline-block;
  margin-bottom: 5px;
}
@media (max-width: 576px) {
  .footer__logo {
    margin-bottom: 20px;
  }
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (max-width: 576px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
.footer__copy {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: rgba(255, 255, 255, 0.7);
}
@media (max-width: 576px) {
  .footer__copy {
    display: none;
  }
}
.footer__copy--mobile {
  display: none;
}
@media (max-width: 576px) {
  .footer__copy--mobile {
    display: block;
    font-size: 14px;
    line-height: 160%;
    text-align: center;
  }
}
@media (max-width: 576px) {
  .footer__phone {
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
  }
}
@media (max-width: 576px) {
  .footer {
    padding-bottom: 20px;
  }
}

.graph-modal__close {
  right: 40px;
  top: 40px;
  width: auto;
  height: auto;
  font-size: 18px;
  line-height: 160%;
  color: var(--text-color);
}
@media (max-width: 576px) {
  .graph-modal__close {
    right: 20px;
    top: 20px;
  }
}

@media (max-width: 1024px) {
  .graph-modal::before {
    display: none;
  }
}

.popup {
  padding: 40px;
  width: 100%;
  max-width: 940px;
}
.popup__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}
.popup__image {
  margin-right: 40px;
}
@media (max-width: 576px) {
  .popup__image {
    margin-right: 20px;
  }
}
.popup__name {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 24px;
  line-height: 160%;
  color: var(--dark-color);
}
.popup__post {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: var(--text-color);
}
.popup__bottom-content {
  padding-top: 20px;
  padding-right: 20px;
  max-height: 375px;
}
.popup__descr {
  margin-bottom: 40px;
}
@media (max-width: 576px) {
  .popup__descr {
    margin-bottom: 20px;
  }
}
.popup__text {
  margin: 0;
  margin-bottom: 7px;
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  color: var(--dark-color);
}
@media (max-width: 576px) {
  .popup__text {
    margin-bottom: 5px;
    font-size: 16px;
  }
}
.popup__subtitle {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 24px;
  line-height: 160%;
  color: var(--dark-color);
}
.popup .simplebar-track.simplebar-vertical {
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 40px;
  width: 5px;
  background: rgba(20, 16, 36, 0.08);
}
.popup .simplebar-scrollbar::before {
  left: 0;
  right: 0;
  border-radius: 40px;
  width: 5px;
  background-color: var(--dark-color);
  opacity: 1;
}
@media (max-width: 768px) {
  .popup {
    padding-top: 80px;
  }
}
@media (max-width: 576px) {
  .popup {
    padding: 20px;
    padding-top: 40px;
  }
}

.tabs__menu {
  border-bottom: 1px solid rgba(20, 16, 36, 0.11);
  padding-bottom: 20px;
}
.tabs__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 70%;
}
@media (max-width: 576px) {
  .tabs__nav-item {
    margin-bottom: 15px;
    width: 100%;
    text-align: center;
  }
}
.tabs__nav-btn {
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  color: var(--dark-color);
}
.tabs__nav-btn:focus {
  color: var(--accent-color);
  background-color: transparent;
}
.tabs__nav-btn--active {
  outline: none;
  color: var(--accent-color);
  background-color: transparent;
}
@media (max-width: 576px) {
  .tabs__nav {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: none;
  }
}
/*# sourceMappingURL=main.css.map */