<section class="hero">
  <div class="container hero__container">
    <div class="hero__content">
      <h1 class="hero__title">
        Robo school
        <span class="hero__title-text">
          Курсы повышения квалификации по робототехнике для педагогов начальной школы
        </span>
      </h1>
        <picture>
          <source srcset="img/hero-mobile-image.avif" type="image/avif">
          <source srcset="img/hero-mobile-image.webp" type="image/webp">
          <img loading="lazy" src="img/hero-mobile-image.png" class="hero__image hero__image--mobile" width="273" height="320" alt="Девушка смотрящая в даль">
        </picture>
      <a href="#join" class="hero__link btn btn-reset" data-scroll>Записаться на курс</a>
    </div>
    <div class="hero__image">
      <picture>
        <source srcset="img/hero-image.avif" type="image/avif">
        <source srcset="img/hero-image.webp" type="image/webp">
        <img loading="lazy" src="img/hero-image.png" class="hero__image" width="783" height="917" alt="Девушка смотрящая в даль">
      </picture>
    </div>
  </div>
</section>
